
.head {
    border: 1px solid black;
    height: 50px;
}

.sub-header {
    border: 1px solid black;
    height: 200px;
}

.content {
    border: 1px solid black;
    height: 250px;
}

.foot {
    border: 1px solid black;
    height: 100px;
}